@import "tailwindcss";

@theme{
    --color-Blue-900 : hsl(209, 23%, 22%);
    --color-Blue-950 : hsl(207, 26%, 17%);
    --color-Grey-950 : hsl(200, 15%, 8%);
    --color-Grey-400 : hsl(0, 0%, 50%);
    --color-Grey-50 : hsl(0, 0%, 99%);
    --color-White : hsl(0, 100%, 100%);
    --font-nunito: "Nunito Sans", sans-serif;
}